@font-face {
  font-family: 'NerdFont';
  src: url('/assets/fonts/FiraCodeNerdFont-Retina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NerdFont-Italic';
  src: url('/assets/fonts/VictorMonoNerdFont-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
    /* background-color: #e0e0e0; */
    background-color: #F5F5F5;
    padding:50px;
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    color:#3f3f3f;
    font-weight:400;
  }

b, strong {
    font: bold 16.5px/1.5 Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}
