@charset "utf-8";
#heading {
    color: #AB7E08;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 32pt;
    text-align: left;
    font-variant: small-caps;
}

#subheading {
    color: #020B81;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 28pt;
    text-align: left;
    font-variant: small-caps;
}


#title {
    color: #AB4C08;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: x-large;
    text-align: left;
    font-variant: normal;
    text-indent: 0.5cm;
    height: 0.25cm;
}

#text {
    color: #700202;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: medium;
    text-align: left;
    font-variant: normal;
    text-indent: 1cm;
    height: 1.25cm;
    width: 12in;
}
